# Configuration file

biomeconfiguration {

    ##########################################################################################################
    # swamps
    #--------------------------------------------------------------------------------------------------------#
    # This name has to be unique.
    ##########################################################################################################

    swamps {

        biometypes {
            S:Included <
                SWAMP
             >
            S:Excluded <
             >
        }

        ##########################################################################################################
        # treepopulation
        #--------------------------------------------------------------------------------------------------------#
        # Contains population for each tree. Trees are specified by the name in the corresponding tree configuration file.
        ##########################################################################################################

        treepopulation {
            "Cyprus Oak" {
                I:percentagechancepertree=3
                I:treesperchunk=1
            }

            "Hat Tree" {
                I:percentagechancepertree=1
                I:treesperchunk=1
            }

            "Swamp Oak" {
                I:percentagechancepertree=15
                I:treesperchunk=1
            }

        }

    }

    ##########################################################################################################
    # plains
    #--------------------------------------------------------------------------------------------------------#
    # This name has to be unique.
    ##########################################################################################################

    plains {

        biometypes {
            S:Included <
                PLAINS
             >
            S:Excluded <
             >
        }

        ##########################################################################################################
        # treepopulation
        #--------------------------------------------------------------------------------------------------------#
        # Contains population for each tree. Trees are specified by the name in the corresponding tree configuration file.
        ##########################################################################################################

        treepopulation {

            "Tall Oak" {
                I:percentagechancepertree=1
                I:treesperchunk=1
            }

        }

    }

    ##########################################################################################################
    # mountains
    #--------------------------------------------------------------------------------------------------------#
    # This name has to be unique.
    ##########################################################################################################

    mountains {

        biometypes {
            S:Included <
                MOUNTAIN
             >
            S:Excluded <
                SANDY
                WASTELAND
                MESA
             >
        }

        ##########################################################################################################
        # treepopulation
        #--------------------------------------------------------------------------------------------------------#
        # Contains population for each tree. Trees are specified by the name in the corresponding tree configuration file.
        ##########################################################################################################

        treepopulation {

            "Tall Oak" {
                I:percentagechancepertree=10
                I:treesperchunk=1
            }
			
			"Big Pine" {
                I:percentagechancepertree=5
                I:treesperchunk=1
            }

        }

    }

    ##########################################################################################################
    # snowy
    #--------------------------------------------------------------------------------------------------------#
    # This name has to be unique.
    ##########################################################################################################

    snowy {

        biometypes {
            S:Included <
                SNOWY
             >
            S:Excluded <
             >
        }

        ##########################################################################################################
        # treepopulation
        #--------------------------------------------------------------------------------------------------------#
        # Contains population for each tree. Trees are specified by the name in the corresponding tree configuration file.
        ##########################################################################################################

        treepopulation {

            "Big Pine" {
                I:percentagechancepertree=10
                I:treesperchunk=1
            }

        }

    }

    ##########################################################################################################
    # birchForests
    #--------------------------------------------------------------------------------------------------------#
    # This name has to be unique.
    ##########################################################################################################

    birchForests {

        biometypes {
            S:Specific <
                Birch Forest
                Birch Forest Hills
             >
        }

        ##########################################################################################################
        # treepopulation
        #--------------------------------------------------------------------------------------------------------#
        # Contains population for each tree. Trees are specified by the name in the corresponding tree configuration file.
        ##########################################################################################################

        treepopulation {

            "Big Birch" {
                I:percentagechancepertree=30
                I:treesperchunk=1
            }

        }

    }

}


general {
    B:"Enable roots"=false
    I:"Enabled dimension ids" <
        0
     >
    I:"Disabled dimension ids" <
        -1
        1
     >
    B:"Disable vanilla trees"=false
}


