# Configuration file

client {
    B:HbmEnemyHUD=false
    I:backgroundHeight=6
    I:backgroundPadding=2
    I:barHeight=4
    I:barRGBColorsBoss <
        128
        0
        128
     >
    I:barRGBColorsMob <
        0
        255
        0
     >
    I:barRGBColorsModifier <
        0
        0
        0
     >
    I:barRGBColorsMonster <
        255
        0
        0
     >
    B:biggerOnBosses=true
    D:biggerOnBossesMultiplier=2.0
    B:colorByType=false
    B:darknessAdjustment=true
    B:darknessAdjustmentText=false
    B:drawBackground=true
    D:getScaleFactorAutoMax=71.428571428
    D:getScaleFactorLarge=95.238095238095
    D:getScaleFactorNormal=142.8527142857142
    D:getScaleFactorSmall=285.714285714285
    B:globalMultiplier=false
    D:globalMultiplierValue=1.5
    B:groupArmor=true
    D:heightAbove=0.66
    B:hideNameTag=true
    B:hidePlayerName=true
    I:hpTextHeight=14
    I:maxDistance=32
    D:maxScale=0.096666688
    D:minScale=0.026666672
    I:plateSize=20
    I:plateSizeBoss=50
    B:showArmor=true
    B:showAttributes=true
    B:showCurrentHP=true
    B:showMaxHP=true
    B:showOnBosses=true
    B:showOnPlayers=true
    B:showOnlyFocused=true
    I:showOnlyFocusedRange=40
    B:showPercentage=true
}


general {
    I:"Background Height"=6
    I:"Background Padding"=2
    B:"Color Health Bar by Type (instead of health %)"=false
    B:"Display on Bosses"=true
    B:"Display on Players"=true
    B:"Draw Background"=true
    B:"Group Armor (condense 5 iron icons into 1 diamond icon)"=true
    I:"HP Text Height"=14
    I:"Health Bar Height"=4
    D:"Height Above Mob"=0.66
    I:"Max Distance"=24
    I:"Plate Size"=25
    I:"Plate Size (Boss)"=50
    B:"Render with Interface Disabled (F1)"=false
    B:"Show Armor"=true
    B:"Show Attributes"=true
    B:"Show Current HP"=true
    B:"Show HP Percentage"=false
    B:"Show Max HP"=true
}


