# Hidden Items Filters
#
# parts:
# modname:itemid    - identify
# $orename          - ore dictionary
# tag.color=red     - tag
# 0 or 0-12         - damage
#
# modifiers:
# ! - logical not. exclude items that match the following expression (!minecraft:portal)
# r/.../ - standard java regex (r/^m\w{6}ft$/ = minecraft)
# , - logical or in token (minecraft:potion 16384-16462,!16386)
# | - logical or multi-item search (wrench|hammer)
#
# example: minecraft:potion 16384-16462,!16386 | $oreiron | tag.color=red
#
# minecraft:portal
# minecraft:end_portal
# minecraft:fire
# minecraft:lava
# minecraft:mob_spawner
# minecraft:anvil !0
minecraft:flowing_water
minecraft:flowing_lava

streams:river

projectred.core.part 11-18,35-59
SlabDouble
SlabFull
SlabBlazeFull

Botania:buriedPetals

ThaumicExploration:blankSeal
ThaumicExploration:chestSeal
ThaumicExploration:chestSealLinked
ThaumicExploration:jarSeal

Railcraft:ingot !0
Railcraft:nugget !1
Railcraft:fluid.creosote.bucket
Railcraft:fluid.steam.bottle
Railcraft:fluid.steam
Railcraft:part.rebar

wildmobsmod:magic_wand
wildmobsmod:armadillo_shell
wildmobsmod:thick_bone
wildmobsmod:cougar_hide
wildmobsmod:magma_plant_seed
wildmobsmod:roasted_magma_plant_seed
wildmobsmod:roasted_magma_plant_seed§7 (2)
wildmobsmod:chevon
wildmobsmod:cooked_chevon
wildmobsmod:bison_meat
wildmobsmod:fur_boots
wildmobsmod:fur_leggings
wildmobsmod:fur_chestplate
wildmobsmod:fur_helmet
wildmobsmod:bison_leather_boots
wildmobsmod:bison_leather_leggings
wildmobsmod:bison_leather_chestplate
wildmobsmod:bison_leather_helmet
wildmobsmod:armadilloShellBlockPatterned
wildmobsmod:armadilloShellBlockCracked
wildmobsmod:armadilloShellBlockSlabSingle
wildmobsmod:armadilloShellBlockStairs
wildmobsmod:armadilloShellBlock
wildmobsmod:bladderBlockStage0
wildmobsmod:bladderBlockStage1
wildmobsmod:bladderBlockStage2
wildmobsmod:furBlock
wildmobsmod:bison_meat
wildmobsmod:cooked_bison_meat
wildmobsmod:furCarpet
wildmobsmod:bisonBlock
wildmobsmod:bisonCarpet
wildmobsmod:bison_leather
wildmobsmod:fur