# Configuration file

general {
    # Replace the cobblestone rims of wells with stone slabs, making it easier for players and villagers to escape if they fall in. [default: true]
    B:"Well slabs"=true
}


miscellaneous {
    # Generate Igloos from 1.9+ [default: true]
    B:"Add Igloos"=true

    # Generate Ocean Monuments and Guardians. Pairs well with "Add Prismarine" if you're not using another mod to backport prismarine. [default: true]
    B:"Add Monuments"=true

    # Adds Prismarine blocks and items. Very difficult to acquire if "Add Monuments" is false. [default: true]
    B:"Add Prismarine"=false

    # Adds absorbent Sponges [default: true]
    B:"Add Sponges"=true

    # Igloos can generate in mods' snowy plains biomes, rather than just vanilla's Ice Plains and Cold Taiga [default: false]
    B:"Allow Igloos in modded biomes"=false
}


"mod integration" {
    # Sets which mod's prismarine block should be used in monument generation.
    # Requires "Add Prismarine" to be false.
    # Valid values: botania, etfuturum. [default: botania]
    S:"Prismarine's Mod"=botania
}


